/node_modules  

/dist  
/build  
   
/public  
  
.DS_Store  
.idea  
.vscode  
  
.env.local  
.env.development.local  
.env.test.local  
.env.production.local  
npm-debug.log*  
yarn-error.log  
   
/tests/e2e  
/tests/unit/coverage  
   
/custom-directory  
/another-directory/*.log  
specific-file.js