@import './reset.scss';

body,
html {
  height: 100%;
}

// 补充背景
body {
  background-color: $bgc-color-1;
}

/* 单行省略 */
.ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 鼠标悬停显示 */
.hover-cp {
  cursor: pointer;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
#app {
  font:
    14px/1.5 'Microsoft Yahei',
    'Hiragino Sans GB',
    'Heiti SC',
    'WenQuanYi Micro Hei',
    sans-serif;
  height: 100%;
  letter-spacing: 1px;
}
